.footer-box {
    background: #020202;
    padding: 20px 0;
    width: 100%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer-box .footer-company-name {
    text-align: center;
    margin: 0px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    padding-top: 2px;
}
.footer-box .footer-company-name a{
    margin-left: 5px;
    color: white;
}

@media (max-width: 768px) {
    .footer-box .footer-company-name {
        text-align: center;
        margin: 0px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        padding-top: 2px;
        margin: 0px 20px;
    }
}