
.christmas-frd {
  background-color: rgb(255, 255, 255);
  /* height: 100vh; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:100px 0px;
  /* justify-content: center; */
}


/* textarea:focus,
input:focus {
  outline: none;
} */

.input-field {
  display: flex;
  max-width: 800px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgb(211, 211, 211);
}
.input-field > input {
  flex: 1;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  height: 70px;
  /* background-color: red; */
  font-size: large;
}
.input-field button {
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  width: 4rem;
  height: 4rem;
  background: url(https://tse3.mm.bing.net/th?id=OIP.NNFnSG8mkcTRZnzJ0GQp_QHaEK&pid=Api&P=0);
  border: 2px solid #ac0000;
}


@media (max-width: 768px) {
  .input-field {
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
  }
  .input-field > input {
    flex: 1;
    padding: 15px;
    height: 65px;
    border-radius: 20px;
    border: 1px black;
    /* background-color: red; */
    width: 100%;
    /* outline: none; */
  }
  .input-field button {
    width: 95%;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background: url(https://tse3.mm.bing.net/th?id=OIP.NNFnSG8mkcTRZnzJ0GQp_QHaEK&pid=Api&P=0);
    border: 2px solid #ac0000;
    height: 50px;
  }
  .title-box h2 {
    font-size: 38px;
  }
  .about-main-info h2 {
    font-size: 24px;
}
}
